* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", Helvetica, sans-serif; */
  /* font-family: "Edu VIC WA NT Beginner", cursive; */
  font-family: "Architects Daughter", cursive;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #212122;
  border: 1.8vw solid #c98d51;
  border-right-color: #a3653b;
  border-left-color: #a3653b;
}

.note {
  position: absolute;
  width: 20vw;
  -webkit-filter: drop-shadow(1px 1px 5px rgba(34, 34, 34, 0.301));
  filter: drop-shadow(1px 1px 5px rgba(34, 34, 34, 0.301));
  z-index: 0;
}

.note img {
  display: block;
  width: 100%;
}

.note .note-content {
  position: absolute;
  height: 86%;
  width: 90%;
  top: 16%;
  left: 4%;
  resize: none;
  outline: none;
  border: none;
  padding: 10% 8% 2% 3%;
  transform: rotate(-6deg);
  background: none;
  text-align: center;
  font-size: 1.5vw;
  color: #222222;
}

.note span {
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 43%;
  width: 3vw;
  height: 3vw;
}

.trash-can {
  position: absolute;
  width: 10%;
  height: auto;
  bottom: 0;
  right: 0;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  cursor: pointer;
}
